.footer{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 36px;
    padding-bottom: 36px;
}

.footer-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column; 
}

.footer-actions{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}



.action{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: white;

}

.icon{
    width: 24px;
    fill: white;
}

.action-text{
    font-size: 14px;
}