<footer>
    <section class="footer" data-aos="fade-up">
            <p class="see" >SEE YOU ON DJERBA ISLAND</p>
            <ng-lottie
                class="wave"
                [options]="wavesOptions"
            />  
        <div class="footer-form" >
            <div class="msg-wrapper">
                <div *ngIf="isMessageOpen" class="message">
                    {{message}}
                </div>
            </div>

            <p >Stay Updated! Join Our Mailling List ..</p>
            <form [formGroup]="registerForm">
                <div class="rr">  
                    <div  class="wrapper">
                        <input class="text" id="email" formControlName="email" type="email" placeholder="Email*" autocomplete="off" > 
                        <input class="name text" id="name" formControlName="name" type="text" placeholder="Name" autocomplete="off" >
                    </div>
                    <button class="join hovet-target" [disabled]="registerForm.invalid" (click)="onSubmit()">JOIN</button>

                </div>

                <div class="btns">
                    <a  class="btn hover-target" href="https://www.instagram.com/reset.festival_official/">
                       <img src="assets/images/insta.jpg" alt="">
                    </a>
                    <a  class="btn location" href="https://www.google.com/maps/@33.7871141,10.8569862,11z?entry=ttu&g_ep=EgoyMDI1MDMyNS4xIKXMDSoASAFQAw%3D%3D">
                        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                        </svg>
                    </a>
                </div>
              </form>
           
        </div>
        <div class="actions">
            <a href="">cookies</a>
            <a href="">privcy</a>
            <a href="">terms</a>
          </div>
    </section>

</footer>