#home-page{
    background-color: #db8a08;
}

#hero{
    max-width: 1400px;
    margin: 0 auto;
   
}



#experience{
    max-width: 1400px;
    margin: 0 auto;
}

#fashion{
    max-width: 1400px;
    margin: 0 auto;
}

#tickets{
    max-width: 1400px;
    margin: 0 auto;
}