#hero{
    max-width: 1400px;
    margin: 0 auto;
}

.hero-bg{
    background-color: #fff;
     position: relative;
}

.hero-ornament-container{
    width: auto;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.hero-reset{
    position: absolute;
    width: 58vw; 
    margin-top: 4%;
    height: auto;     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-date{
        width: 28vw;  
}

.hero-img-wrapper{
    margin-top: -8vw;
}

.mission-section{
    margin: 32px 0;
}
.mission{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-bottom: 32px;
}

.mission-title{
    font-size: 18px;
    font-weight: 700;
    width: fit-content;

}

.mission-decorative1{
    width:  18px;
    transform: rotate(180deg);
}

.mission-decorative2{
    width:  18px;
}

.moto{
    font-style: italic;
}

.stripe{
    margin-top: 36px;
}


@media (min-width: 1200px) { 
    .hero-reset{
        max-width: 800px; 
    }
    .hero-date{
        width: 22vw; 
        max-width: 600px; 
    }
}