<div id="hero">
    <div class="hero-bg">
        <div class="hero-ornament-container">
            <img src="assets/images/decorative/ornament.png" alt="ornament image" > 
            <div  class="hero-reset">
                <ng-lottie
                [options]="resetHeroOptions"
                 />     
                <img src="assets/images/date.png" alt="" class="hero-date">  
            </div> 
        </div>   
        <div class="hero-img-wrapper">
            <img id="hero-img" src="assets/images/sections/promo.png" alt="promo image">
        </div>    
    </div>
    <section class="mission-section">
        <div class="mission">
            <img src="assets/images/decorative/mission.svg" alt="decorative" class="mission-decorative1">
            <p class="mission-title">OUR MISSION</p>
            <img src="assets/images/decorative/mission.svg" alt="decorative" class="mission-decorative2">
        </div>
        <div class="text">
            <p class="moto">“When the rhythm and the melody align, a truth emerges that words cannot capture.”
                <b>Rumi</b>
            </p>
            <br/><br/><br/>
            At RE:SET, we invite you to step into a week-long immersive odyssey - a space where the familiar fades, intuition sharpens, and surrealism, novelty, and joy take the lead. Through curiosity, wonder, and play, you awaken the courageous spirit buried beneath daily life.<br/><br/>
            In a world that feels detached and rigid, we create a sanctuary where creativity thrives and self-expression is celebrated. When rhythm - the pulse, the heartbeat, the people - moves in harmony with melody - the energy, the atmosphere, the unspoken language of the space - truth emerges.<br/><br/>
             When you feel both supported and free, at ease yet inspired, you step into the fullness of who you were always meant to be. You RESET.
        </div>
        <img  src="assets/images/decorative/stripe.svg" alt="decorative" class="stripe">
    </section>

</div>