<div id="hero">

    <div class="hero-bg">
        <div class="hero-ornament-container">
            <img src="assets/images/decorative/ornament.png" alt="ornament image" > 
            <div  class="hero-reset">
                <ng-lottie
                [options]="resetHeroOptions"
                 />     
                <img src="assets/images/date.png" alt="" class="hero-date">  
            </div> 
        </div>   
        <div class="hero-img-wrapper" #heroImgWrapper >
            <div class="watch" >
                <svg xmlns="http://www.w3.org/2000/svg" class="play" viewBox="0 0 10 12"   data-aos="fade-right">
                    <path d="M0 0 L10 6 L0 12 Z"/>
                </svg>
                <p data-aos="fade-right">WATCH</p>
                <p   data-aos="fade-right"   data-aos-delay="300">PROMO</p>
            </div> 
            <div class="video-wrapper" *ngIf="isPlaying">
                <video class="video"  playsinline preload="auto" loop autoplay [muted]="true" #videoHero >
                    <source src="https://www.w3schools.com/tags/mov_bbb.mp4"  type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="sound " *ngIf="isPlaying" (click)="soundToggle()">
                <svg xmlns="http://www.w3.org/2000/svg"  class="sound-on" viewBox="0 0 16 16" *ngIf="!muted">
                    <path d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z"/>
                    <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z"/>
                    <path d="M8.707 11.182A4.5 4.5 0 0 0 10.025 8a4.5 4.5 0 0 0-1.318-3.182L8 5.525A3.5 3.5 0 0 1 9.025 8 3.5 3.5 0 0 1 8 10.475zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="sound-on" viewBox="0 0 16 16" *ngIf="muted">
                    <path d="M6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06m7.137 2.096a.5.5 0 0 1 0 .708L12.207 8l1.647 1.646a.5.5 0 0 1-.708.708L11.5 8.707l-1.646 1.647a.5.5 0 0 1-.708-.708L10.793 8 9.146 6.354a.5.5 0 1 1 .708-.708L11.5 7.293l1.646-1.647a.5.5 0 0 1 .708 0"/>
                  </svg>
            </div>
            <div class="stop" *ngIf="isPlaying"(click)="playPause()">
                <svg xmlns="http://www.w3.org/2000/svg" class="stop-icon" viewBox="0 0 16 16">
                    <path d="M5 3.5h6A1.5 1.5 0 0 1 12.5 5v6a1.5 1.5 0 0 1-1.5 1.5H5A1.5 1.5 0 0 1 3.5 11V5A1.5 1.5 0 0 1 5 3.5"/>
                  </svg>
            </div>
            <img id="hero-img" src="assets/images/sections/promo.png" alt="promo image" class="hover-target" data-circle-size="120" data-text="PLAY PROMO" (click)="playPause()">   
        </div>    
    </div>
    <section id="mission-section" class="mission-section">
        <div class="mission" data-aos="fade-up">
            <img src="assets/images/decorative/mission.svg" alt="decorative" class="mission-decorative1">
            <p class="mission-title">OUR MISSION</p>
            <img src="assets/images/decorative/mission.svg" alt="decorative" class="mission-decorative2">
        </div>
        <div class="text" data-aos="fade-up">
            <p class="moto">“When the rhythm and the melody align, a truth emerges that words cannot capture.”
                <b>Rumi</b>
            </p>
            <br/><br/>
            At RE:SET, we invite you to step into a week-long immersive odyssey - a space where the familiar fades, intuition sharpens, and surrealism, novelty, and joy take the lead. Through curiosity, wonder, and play, you awaken the courageous spirit buried beneath daily life.<br/><br/>
            In a world that feels detached and rigid, we create a sanctuary where creativity thrives and self-expression is celebrated. When rhythm - the pulse, the heartbeat, the people - moves in harmony with melody - the energy, the atmosphere, the unspoken language of the space - truth emerges.<br/><br/>
             When you feel both supported and free, at ease yet inspired, you step into the fullness of who you were always meant to be. You RESET.
        </div>
        <img  src="assets/images/decorative/stripe.svg" alt="decorative" class="stripe" data-aos="fade-up">
    </section>

</div>