<div id="fashion-page">
    <div class="header">
      jhdhfdjkf
      dfdfdf
    </div>
    
    <div class="wrapper">
        <div class="lineup">
            <img src="assets/images/decorative/lineup.svg" alt="lineup decorative" class="lineup-decorative1">
            <p class="lineup-text">LINEUP</p>
            <img src="assets/images/decorative/lineup.svg" alt="lineup decorative" class="lineup-decorative2">
        </div>
      <div class="info">
        <div>
          <p>{{select!.name}}</p>
          <p>{{select!.info}}</p>
        </div>
        <div>
          <img [src]="select.img" alt="" class="dj-img">
        </div>

      </div>
    </div>
    
    <div class="artists">
            <p  *ngFor="let dj of djs"  class="name" (click)="toggleSticky(dj)">{{dj.name}}</p>
    </div>
    
 
  </div>