#fashion-page {
    min-height: 200vh;
    color: black;
    background-color:tomato;
  }
  
  .header {
    height: 100px;
    background: #f0f0f0;
    padding: 20px;
  }
  
  .wrapper {
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    z-index: 100;
    height: 200px;
    background-color: tomato;

  }

  .lineup-decorative1{
    width: 100px;
    transform: rotate(180deg);
  }

  .lineup-decorative2{
    width: 100px;
  }

  .lineup-text{
    font-size: 24px;
    color: white;
  }

  .dj-img{
    width: 100px;
  }

  .info{
    position: absolute;
    right: 0;
    display: flex;
    width: 60%;
    opacity: 0;
    transition: all 0.6s 1s ease;
  }

  .dj{
    border-bottom: 2px solid black;
    text-align: left;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  
  .lineup {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all 0.3s ease;
    margin: 0;
    white-space: nowrap; /* Prevent text wrapping */
    
  }
  
  .lineup.move-up {
    top: 0;
    left: 0;
    transform: none; /* Remove the translate when moving up */
    margin-left: 0px; /* Add some margin if needed */
  }

  .info.show{
   opacity: 1;
  }
  
  .artists {
    padding: 0 100px;
    margin: 180x;
    text-align: center;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    cursor: pointer;
  }

  .name{
    display: inline;
    margin: 0 40px;
    cursor: pointer;
    font-size: 24px;
    line-height: 48px;
    word-break: keep-all;
  }

  .name:hover{
    color: white;
    text-decoration: underline;
  }