#djerba{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 6px;
}

.gallery img{
    cursor: pointer;
}



.close{
    position: absolute;
    left: 16px;
    top:16px;
    fill:tomato;
    width:32px;
    cursor: pointer;
}

.image{
    display: flex;
    height: 100vh;
    width: 100%;
}
.image img{
   
    max-height: 100%;
    object-fit: contain;
}

.slider{
    max-height: 100vh;
    width: 100%;
}
@media (min-width:1200px){
    .gallery{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 6px;
    }
}