#tickets{
        max-width: 1400px;
        margin: 0 auto;

}
.tickets-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;
}

.lottie-wrapper{
    width: 300px;
    cursor: pointer;
    z-index: 3;
}

.tickets-lottie{
    width: 100%;
    z-index: -1;
}

.tickets-decorative{
    width: 200px;
    transform: rotate(180deg);
}

@media (min-width: 768px) { 
    .tickets-body{
        display: flex;
        gap: 32px;
    }
}



@media (min-width: 1200px) { 
    .tickets-header{
        font-size: 96px;
        margin: 64px 0;
    }
    
    .tickets-decorative{
        width: 400px;
    }
}