#tickets{
        max-width: 1400px;
        margin: 0 auto;

}
.tickets-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 48px;
    font-weight: 700;
    margin: 32px 0;
}

.tickets-decorative{
    width: 200px;
    transform: rotate(180deg);
}

@media (min-width: 768px) { 
    .tickets-body{
        display: flex;
        gap: 32px;
    }
}



@media (min-width: 1200px) { 
    .tickets-header{
        font-size: 96px;
        margin: 64px 0;
    }
    
    .tickets-decorative{
        width: 400px;
    }
}