#fashion{
    max-width: 1400px;
    margin: 0 auto;
}

.fashion-wrapper{
    display: flex;
    gap: 16px;
}

.fashion-images{
    width: 50%;
    height: fit-content;
    border: 2px solid white;
}

.icons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 16px;
}



.icon{
    padding: 0 4px;
    cursor: pointer;
}

.marmol{padding: 0 18px;}

.more{
    font-style: italic;
    text-align: right;
}



@media (min-width: 576px) { 
    .fashion-images{
        width: 40%;
    }
}

@media (min-width: 768px) { 

}

@media (min-width: 1200px) { 
    .fashion-wrapper{
        gap: 32px;
    }

  .icon{
    padding: 0 40px;
  }
  .marmol{
    padding: 0 64px;
  }
}