<div id="fashion">
    <app-section-picture
        id="fashion-img"
        [src]="'assets/images/sections/fashion.png'"
        [decor]="'assets/images/decorative/fashion.svg'">
    </app-section-picture>
     <section>
         <p class="title">Wear Your Soul: The Art of Festival Fashion</p>
         <div class="partners">
            <p class="title">OUR PARTNERS</p>
            <div class="icons">
                <a href="https://www.instagram.com/actitude.berlin/" target="_blank" >
                    <img class="icon" src="assets/images/partners/m1.png" >
                </a>
                <a href="https://www.instagram.com/actitude.berlin/" target="_blank" >
                    <img class="icon" src="assets/images/partners/m2.png" >
                </a>
                <a href="https://www.instagram.com/actitude.berlin/" target="_blank" >
                    <img class="icon" src="assets/images/partners/m3.png" >
                </a>
            </div>
            <p class="more">and many more...</p>
         </div>
     </section>   
 </div>