<div id="fashion">
    <app-section-picture
        id="fashion-img"
        [src]="'assets/images/sections/fashion.png'"
        [rightBottom]="'assets/images/decorative/fashion.svg'">
    </app-section-picture>
    <section>
        <p class="title" data-aos="fade-up">Wear Your Soul: The Art of Festival Fashion</p>
        <article class="fashion-wrapper" data-aos="fade-up">
            <div class="fashion-images" routerLink="/fashion"> 
                <app-slider [items]="fashion" [slider]="true"></app-slider>
                <svg *ngIf="isMobile" xmlns="http://www.w3.org/2000/svg"  class="fullscreen" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707m0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707m-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707"/>
                  </svg>
            </div>
            <p  class="text">At RE:SET, we invite you to step beyond the music and into a world of creativity, self-discovery, and connection. Join talented facilitators - visionaries, curators, catalysts, and enablers - for interactive workshops that invite you to learn, explore, and collaborate.<br/><br/>   
                Breathe deeply in yoga and mindfulness sessions that center you in the present moment. Unleash your creativity through painting, crafting, and shaping your ideas into reality. Discover the art of communication, consent, and intimacy in spaces designed to celebrate self-expression.<br/><br/>           
                Dive into sensory journeys, immersive experiences, and activities that blur the line between reality and imagination. It’s an invitation to expand, feel, and transform. </p> 

         
        </article>
        <div class="partners" >
            <p class="title" data-aos="fade-up">OUR PARTNERS</p>
            <div class="icons">
                <a href="https://www.instagram.com/salahbarka/?hl=en" target="_blank" data-aos="fade-up">
                    <img class="icon hover-target" src="assets/images/partners/f1.png" data-circle-size="100" data-text="OPEN LINK">
                </a>
                <a href="https://www.instagram.com/lenavoutta/?hl=en" target="_blank" data-aos="fade-up" data-aos-duration="500">
                    <img class="icon hover-target"  src="assets/images/partners/f2.png" data-circle-size="100" data-text="OPEN LINK">
                </a>
                <a href="https://www.instagram.com/houseofmarmol/?hl=en" target="_blank" data-aos="fade-up" data-aos-duration="1000">
                    <img class="marmol hover-target" src="assets/images/partners/f3.png" data-circle-size="100" data-text="OPEN LINK">
                </a>
                <a href="https://www.instagram.com/vainver_official/" target="_blank" data-aos="fade-up" data-aos-duration="1500">
                    <img class="icon hover-target"  src="assets/images/partners/f4.png" data-circle-size="100" data-text="OPEN LINK">
                </a>
            </div>
            <p class="more text" data-aos="fade-right"  data-aos-duration="2000">and many more...</p>
        </div>
    </section>   
 </div>