#djerba{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
}

.home{
    position: absolute;
    top: 16px;
    left: 16px;
    cursor: pointer;
}

.image{
    top: 0;
    width:100%;
    object-fit: contain;
}






