#experience{
    max-width: 1400px;
    margin: 0 auto;
}

.djerba-wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
}

.djerba-images{
    width: 200px;
    height: fit-content;
    border: 2px solid white;
}