#experience{
    max-width: 1400px;
    margin: 0 auto;
}

.djerba-wrapper{
    display: flex;
    gap: 16px;
}

.djerba-images{
    width: 50%;
    outline: 2px solid white;
    position: relative;
    height: fit-content;
    float: right;
}

.fullscreen{
    position: absolute;
    top:10px;
    right: 10px;
    width: 32px;
    z-index: 2;
    fill: white;
}

.hotel-wrapper{
    display: flex;
    gap: 16px;
}

.hotel-images{
    width: 50%;
    outline: 2px solid white;
    height: fit-content;
  
}

.experience-decorative{
    height: 60px;
    margin-top: 36px;
}


@media (min-width: 576px) { 
    .djerba-wrapper{
        display: flex;
    }
    .djerba-images{
        width: 40%;
    }

    .hotel-images{
        width: 40%;
    }
}


@media (min-width: 1200px) { 
    .djerba-wrapper{
        gap: 32px;
    }
    .hotel-wrapper{
        gap: 32px;
    }

    .experience-decorative{
        height: 120px;
        margin-top: 36px;
    }
}