#experience{
    max-width: 1600px;
    margin: 0 auto;
}

.djerba-wrapper{
    overflow:auto;
}

.djerba-images{
    width: 50%;
    border: 2px solid white;
    float: right;
    margin-left: 20px; 
    margin-bottom: 10px; 
}



.fullscreen{
    position: absolute;
    top:10px;
    right: 10px;
    width: 24px;
    z-index: 2;
    fill: white;
}

.hotel-wrapper{
    overflow:auto;
}

.hotel-images{
    width: 50%;
    border: 2px solid white;
    float: right;
    margin-left: 20px; 
    margin-bottom: 10px; 
}

.experience-decorative{
    height: 60px;
    margin-top: 36px;
}


@media (min-width: 576px) { 

    .djerba-images{
        width: 40%;
    }

    .hotel-images{
        width: 40%;
    }



}


@media (min-width: 1200px) { 
    .djerba-wrapper{
        gap: 32px;
    }
    .hotel-wrapper{
        gap: 32px;
    }

    .experience-decorative{
        height: 120px;
        margin-top: 36px;
    }
}


