<div id="experience">
    <app-section-picture
        id="experience-img"
        [src]="'assets/images/sections/experience.png'">
    </app-section-picture>
    <section>
        <p class="title">Djerba’s Beat, Your Heart’s Pulse</p>
        <div class="djerba-wrapper">
            <div class="text">
                Djerba, Tunisia’s island gem, is a sun-kissed paradise in the Mediterranean. With its golden beaches, whitewashed villages, and swaying palm trees, it feels like a dream frozen in time. The island blends rich history with vibrant culture—wander through the colorful markets of Houmt Souk, explore ancient Berber villages, or marvel at the centuries-old El Ghriba Synagogue. Djerba’s serene coastline, warm hospitality, and delicious seafood make it a perfect escape for those seeking both relaxation and adventure. Whether you’re drawn by its mythic past or tranquil charm, Djerba is a place that lingers in your heart long after you leave.
            </div>
            <div class="djerba-images"> 
                <app-slider [items]="djerba"></app-slider>
            </div>
            
        </div>
       
    </section>

</div>
